﻿

.noun {
    color: cornflowerblue;
    text-decoration: underline;
}

.verb {
    color: orangered;
    text-decoration: underline;
}

.adjective {
    color: brown;
    text-decoration: underline;
}

.place {
    color: forestgreen;
    text-decoration: underline;
}